*{
    box-sizing: border-box;
}



.col-1{width: 8.33%;}
.col-2{width: 16.33%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width:41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

[class *='col-']{
    float: left;
    border: 1px solid grey;
}
.row:after{
    content: '';
    clear: both;
    display: block;

}

.wrapper{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.header-height{height: 200px;}
.menu-height{height: 50px;}
.content-height{height: 600px;}
.big-footer-height{height: 250px;}
.footer-height{height: 50px;}

.main-ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;

}
.main-ul li{
    float: left;
    width: 120px;
    border: 1px solid grey;
}
.main-ul li a{
    /*border: 1px solid;*/
    display: block;
    text-decoration: none;
    text-align: center;
    height: 46px;
    padding-top: 15px;
    background-color: brown;
    color: white;
    transition: 1s;
}

.main-ul li a:hover{
    background-color: white;
    color: #000;
}
.div-one{
    height: 200px;
    width: 400px;
    background-color: red;
    float: left;
    margin: 50px 0 0 50px;
    animation: roy;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    /*background: linear-gradient(to left, red, green);*/
    /*!*transform: scale(1);*!*/
    /*transition: 1s;*/
    /*transform: rotateY(0deg);*/
}
.div-one:hover{
    /*transform: scale(1.5);*/
    /*transform: rotateY(360deg);*/

}
@keyframes roy {
    0%{background: url("../image/img1.png"); }
    25%{background: url("../image/img2.jpg"); }
    50%{background: url("../image/img3.jpg");}
    75%{background: url("../image/img4.jpg");}
    100%{background: url("../image/img5.jpg");}

}

/*.div-one{*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    background-color: orange;*/
/*    margin: 50px 0 0 50px;*/
/*    !*border-radius: 50%;*!*/
/*    transform: skewY(25deg);*/
/*    float: left;*/

/*}*/

/*.div-two{*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    background-color: orange;*/
/*    margin: 50px 0 0 5px;*/
/*    transform: skewY(-25deg);*/
/*    float: left;*/
/*}*/


/*.div-one{*/
/*    height: 200px;*/
/*    width: 200px;*/
/*    background-color: orange;*/
/*    margin: 50px 0 0 50px;*/
/*    transform: scale(1.5);*/
    /*transform: skew(-30deg);*/

    /*float: left;*/
    /*border: 20px inset red;*/
    /*border-right: none;*/
    /*border-radius: 0 100px 100px 0;*/

}

/*.div-two{*/
/*    height: 200px;*/
/*    width: 20px;*/
/*    background-color: orange;*/
/*    margin: 50px 0 0 110px;*/
/*    transform: skew(30deg);*/


/*    float: left;*/
/*}*/
